:root {
  --header-height: 64px;
}
$header-height: var(--header-height);
$breakpoint-sidebar: 1024px;
$breakpoint-M: 600px;
$content-size: 700px;
$padding-default: 15px;

$white: #fff;
$light: #7c7c7c;
$extraDark: #1f1f1f;
$green: #4CAF50;
$primary: #ffc107;
$accent: #2196f3;
$warn: #f44336;

@media screen and (max-width: $breakpoint-M) {
  :root {
    --header-height: 56px;
  }
}
