<form class="form" [formGroup]="form">
  <mat-card>
  <mat-form-field appearance="outline">
    <mat-label>{{'Forms.Post.Title.title' | translate}}</mat-label>
    <input matInput formControlName="title" [placeholder]="'Forms.Post.Title.placeholder' | translate">
    <mat-icon matSuffix [color]="'accent'" *ngIf="formTitle.valid || !formTitle.touched">sentiment_very_satisfied</mat-icon>
    <mat-icon matSuffix [color]="'warn'" *ngIf="formTitle.invalid && formTitle.touched">sentiment_very_dissatisfied</mat-icon>
      <mat-error *ngIf="formTitle?.getError('required')">{{'Validations.required' | translate}}</mat-error>
      <mat-error *ngIf="formTitle?.hasError('minlength')">
        {{'Validations.minLength' | translate}}
        {{formTitle?.getError('minlength')['requiredLength']}}
      </mat-error>
      <mat-error *ngIf="formTitle?.getError('maxlength')">
        {{'Validations.maxLength' | translate}}
        {{formTitle?.getError('maxlength')['requiredLength']}}
      </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'Forms.Post.Text.title' | translate}}</mat-label>
    <textarea matInput formControlName="text" [placeholder]="'Forms.Post.Text.placeholder' | translate"></textarea>
    <mat-error *ngIf="formText?.getError('required')">{{'Validations.required' | translate}}</mat-error>
    <mat-error *ngIf="formText?.hasError('minlength')">
      {{'Validations.minLength' | translate}}
      {{formText?.getError('minlength')['requiredLength']}}
    </mat-error>
    <mat-error *ngIf="formText?.getError('maxlength')">
      {{'Validations.maxLength' | translate}}
      {{formText?.getError('maxlength')['requiredLength']}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'Forms.Post.Tags.title' | translate}}</mat-label>
    <input matInput formControlName="tags" [placeholder]="'Forms.Post.Tags.placeholder' | translate">
    <mat-icon matSuffix [color]="formTags.valid || !formTags.touched ? 'accent' : 'warn'">#</mat-icon>
    <mat-error *ngIf="formTags?.getError('maxlength')">
      {{'Validations.maxLength' | translate}}
      {{formTags?.getError('maxlength')['requiredLength']}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'Forms.Post.Img.title' | translate}}</mat-label>
    <input matInput formControlName="imgUrl" [placeholder]="'Forms.Post.Img.placeholder' | translate">
    <mat-icon matSuffix [color]="formImgUrl.valid || !formImgUrl.touched ? 'accent' : 'warn'">add_photo_alternate</mat-icon>
    <mat-error *ngIf="formImgUrl?.getError('pattern')">
      {{'Validations.urlPattern' | translate}}
    </mat-error>
    <mat-error *ngIf="formImgUrl?.getError('maxlength')">
      {{'Validations.maxLength' | translate}}
      {{formImgUrl?.getError('maxlength')['requiredLength']}}
    </mat-error>
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button [disabled]="form.invalid" color="accent" (click)="submit()">+ {{'Forms.Buttons.post' | translate}}</button>
  </div>
  </mat-card>
</form>
