<mat-toolbar color="primary" class="header">
  <a [routerLink]="'/'" class="logo-block">
    <span class="logo">
      <img src="./assets/images/memologist-contrast.png" alt="logo">
      <img class="logo-block__glasses" src="./assets/icons/icon-glasses-72x72.png" alt="logo">
    </span>
    <span>{{title}}</span>
  </a>
  <span class="spacer-m"></span>

  <nav *ngIf="showNavbar">
    <a [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span>{{'Common.HOT' | translate}}</span>
    </a>
    <a [routerLink]="'/best'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span>{{'Common.BEST' | translate}}</span>
    </a>
    <a [routerLink]="'/new'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span>{{'Common.NEW' | translate}}</span>
    </a>
  </nav>

  <span class="spacer spacer-s"></span>

<!--  <span class="spacer"></span>-->
  <button mat-icon-button (click)="toggleMenu.emit();" class="menu-btn" [matBadge]="(coreQuery.search$ | async) ? 'search' : null" matBadgeColor="warn" matBadgePosition="before">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>


