@import './src/assets/scss/variables';
$cardInteractionsSize: 30px;
$cardInteractionsIcons: 20px;
mat-card {
  height: 100%;
  & mat-card-footer {
    padding: 8px 0;
    background-color: $extraDark;
  }
}
img, mat-card-title {
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.social {
  padding-left: 16px;
  button {
    width: $cardInteractionsSize;
    height: $cardInteractionsSize;
    & ::ng-deep.mat-button-wrapper {
      line-height: $cardInteractionsSize;
      display: flex;
      justify-content: center;
      padding: 0;
    }
  }
  button.telegram {
    background-color: #00bfff;
  }
  img {
    width: $cardInteractionsIcons;
    height: $cardInteractionsIcons;
  }
}
.rate {
  padding-right: 16px;
  mat-button-toggle {
    height: $cardInteractionsSize;
    & ::ng-deep.mat-button-toggle-label-content {
      line-height: $cardInteractionsSize;
    }
  }
  .score {
    min-width: 65px;
  }
  .like {
    & mat-icon {
      color: $green;
      transform: rotateZ(-90deg);
    }
  }
  .score {
    color: $white;
  }
  .dislike {
    & mat-icon {
      transform: rotateZ(90deg);
    }
  }
  .like, .dislike {
    opacity: .8;
    transition: all .2s;
    &:hover {
      opacity: 1;
    }
  }
}
