@import './src/assets/scss/variables';

.img-preview {
  max-width: 100%;
  margin-top: $padding-m;
  color: $warn;
}
@media screen and (max-width: $breakpoint-M) {
  .img-preview {
    max-width: calc(100% - ($padding-default * 2));
    margin: $padding-default;
  }
}
.form {
  width: 100%;
  & > mat-card {
    & > mat-error {
      font-size: 75%;
      padding: 0 1em;
    }
  }

  .mat-form-field {
    width: 100%;
  }
}
.buttons {
  display: flex;
  justify-content: flex-end;
}

