@use '@angular/material' as mat;
@use 'sass:map';
@import '../assets/scss/variables';
@import '~@angular/material/theming';
@include mat.core();

@function modify-background($theme, $background-color) {

  $theme-color: map-get($theme, color);
  $color-background-palette: map-get($theme-color, background);
  $color-background-palette: map-merge($color-background-palette, (background: $background-color));
  $color-background-palette: map-merge($color-background-palette, (raised-button: $background-color));
  $color-background-palette: map-merge($color-background-palette, (card: map.get($my-darkpalette, 400)));

  // Replace the background in the background palette.
  $background-palette: map-get($theme, background);
  $background-palette: map-merge($background-palette, (background: $background-color));
  $background-palette: map-merge($background-palette, (raised-button: $background-color));
  $background-palette: map-merge($background-palette, (card: map.get($my-darkpalette, 400)));

  // Merge the changes into a new theme.
  $modified-theme-color: map-merge($theme-color, (background: $color-background-palette));
  $modified-theme: map-merge($theme, (color: $modified-theme-color));
  $modified-theme: map-merge($modified-theme, (background: $background-palette));

  @return $modified-theme;
}

$my-darkpalette: (
  50 : #e4e4e4,
  100 : #bbbbbb,
  200 : #8e8e8e,
  300 : #606060,
  400 : #242423,
  500 : #1c1c1c,
  600 : #191919,
  700 : #141414,
  800 : #111111,
  900 : #090909,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

// mandatory stuff for theming
$my-dark-primary: mat.define-palette(mat.$amber-palette);
$my-dark-accent:  mat.define-palette(mat.$blue-palette);

// include the custom theme components into a theme object
$bv-theme: mat.define-dark-theme($my-dark-primary, $my-dark-accent);
$bv-theme: modify-background($bv-theme, map.get($my-darkpalette, 500));


// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);
