<app-header (toggleMenu)="drawer.toggle()" [title]="'Memologist' | translate" (changeLang)="onChangeLang()"></app-header>

<mat-drawer-container class="drawer">
  <mat-drawer #drawer class="sidenav" mode="push">
    <app-sidebar (closeMenu)="drawer.close()"></app-sidebar>
    <small class="version">v-0.0.8</small>
  </mat-drawer>

  <div class="wrapper">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
      <app-sidebar *ngIf="showSidebar"></app-sidebar>
    </div>
  </div>
</mat-drawer-container>
