@import './src/assets/scss/variables';

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  position: fixed;
  margin-top: $header-height;
  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  & ::ng-deep.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }
  ::ng-deep.mat-card {
    box-shadow: none;
  }
  & .version {
    color: $light;
    margin-top: auto;
    font-size: .6rem;
  }
}
.drawer {
  margin-top: $header-height;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - $header-height);
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  app-sidebar {
    padding-left: 10px;
  }
}
@media screen and (max-width: $breakpoint-sidebar) {
  .content-wrapper {
    justify-content: center;
  }
}
