@import './src/assets/scss/variables';
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content-wrapper {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  app-sidebar {
    padding-left: 10px;
  }
}
@media screen and (max-width: $breakpoint-sidebar) {
  .content-wrapper {
    justify-content: center;
  }
}
