//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import 'app/app.component.scss-theme.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
}

//form {
//  display: flex;
//  flex-direction: column;
//  align-items: flex-start;
//}

input.mat-input-element, textarea.mat-input-element {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

