//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import 'app/app.component.scss-theme.scss';
@import 'assets/scss/variables';

html, body {
  height: calc(100vh - $header-height);
  color: $white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}
.la-pacman.la-2x > div:nth-child(2) {
  top: -20px;
}

//form {
//  display: flex;
//  flex-direction: column;
//  align-items: flex-start;
//}
.page-height {
  height: calc(100vh - $header-height);
}

input.mat-input-element, textarea.mat-input-element {
  color: white;
}

.main-content-size {
  width: 100%;
  max-width: 700px;
}

.spacer {
  flex: 1 1 auto;
}

